/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 5, 2016, 12:19:01 PM
    Author     : User
*/

/****** Fonts ********/
@font-face {
    font-family: 'opensans';
    src: url('fonts/OpenSans-Light.eot');
    src: url('fonts/OpenSans-Light.woff') format('woff'),
        url('fonts/OpenSans-Light.svg') format('svg'),
        url('fonts/OpenSans-Light.eot') format('eot'),
        url('fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/****** End fonts ********/






/**** End common css ****/
.ui-lists{
    height: 24px;
    border-bottom:2px solid #dcdcdc;
    margin-right: 7px;
    margin-top: 13px;
}
 .bottom-border{
     border-bottom:2px solid #dcdcdc !important;}
 table, tr, td {
    font-family: verdana;    
    color: #0091c7;
    height: 20%;
    border-bottom: 1px solid #DCDCDC;
    border-collapse: collapse;
}
.lefft{
    border-right: 1px solid #DCDCDC;
    border-collapse: collapse;
    height: 20px;
}
.box{
    border-style: solid;
    border-width: 2px;
    height: 95px;
    border-color: #DCDCDC;
}
.ul-listss{
    list-style-type:none;
    margin-left: -23px;
}
.pop-up-botton{
    width: 100%;
    height: 40px;
   
    color: #fff;
    border-radius: 5px;
}
.btn-cancel{
    background: red;
}
.btn-save{
    background: #00BFFF;
}

/**** Task-Name-Added-css ****/
.task-list{
    height: 35px;
    padding-right: 15px;
}
.task-ulist{
    color:#0091c7;
    font-family: verdana;
    font-size: 20px;
    float: left;
    width: 100%
}

